<body>
  <!-- Navigation -->
{{> nav}}
  <section class="main_container">
    <!-- Hero Section -->
    <header class="hero">
      <div class="hero-content">
        <h1>{{body.title}}</h1>
        <p>{{body.description}}</p>
        <div class="cta-buttons" style="margin-top: 10px">
          <a
              href="blog_home.html"
              hx-get="/htmx/blog"
              hx-target=".main_container"
              hx-push-url="/blog_home.html"
              class="btn"
          >Start Journey</a>
          <a
              href="about.html"
              hx-get="/htmx/about"
              hx-target=".main_container"
              hx-push-url="/about.html"
              class="btn btn-outline"
          >Learn More</a>
        </div>
      </div>
    </header>

    <!-- Ad Section -->
    <!-- <aside class="ad-container">
      <div class="ad-content">
        <div class="ad-banner">Sponsored Content</div>
      </div>
    </aside> -->

    <!-- Featured Section -->
    <main class="container">
      <section class="featured-grid">
        {{#each featured}}
          <article
              class="card"
              hx-get="/htmx/blog/article/{{this.slug}}"
              hx-target=".main_container"
              style="cursor: pointer;"
          >
            <div
              class="card-image"
              style="background-image: url(&quot;/static/img/{{image_url}}&quot;)"
            ></div>
            <div style="margin: 0.5em;">
              <h3>{{title}}</h3>
              <p>{{summary}}</p>
            </div>

          </article>
        {{/each}}
      </section>
    </main>

    <!-- <aside class="ad-container">
      <div class="ad-content">
        <div class="ad-banner">Sponsored Content</div>
      </div>
    </aside> -->
  </section>

  <!-- Newsletter Section -->
  <section class="newsletter" id="newsletter_form_container">
      {{> newsletter_section }}
  </section>

{{> footer}}

<script>
  document.addEventListener('htmx:beforeRequest', function(event) {
    const loadingOverlay = document.getElementById('loading-overlay');
    if (loadingOverlay) {
      loadingOverlay.style.display = 'block'; // Show loading overlay
    }
  });

  document.addEventListener('htmx:afterSettle', function(event) {
    const loadingOverlay = document.getElementById('loading-overlay');
    if (loadingOverlay) {
      loadingOverlay.style.display = 'none'; // Hide loading overlay after content is loaded
    }
  });

  document.addEventListener('htmx:responseError', function(event) {
    const loadingOverlay = document.getElementById('loading-overlay');
    if (loadingOverlay) {
      loadingOverlay.style.display = 'none'; // Hide loading overlay on error as well
    }
  });
</script>
</body>
