<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{header.site_name}}</title>
  <meta name="description" content="{{header.site_description}}" />
  <meta name="keywords" content="{{header.keywords}}" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{header.site_name}}" />
  <meta property="og:description" content="{{header.site_description}}" />
  <meta property="og:image" content="{{header.logo_url}}" />
  <meta property="og:image:alt" content="{{header.logo_url}}" />
  <!-- Replace with your image URL -->

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{header.site_name}}" />
  <meta name="twitter:description" content="{{header.site_description}}" />
  <meta name="twitter:image" content="{{header.logo_url}}" />
  <!-- Replace with your image URL -->

  <script src="https://unpkg.com/htmx.org@2.0.4" loading="lazy"></script>

  <!-- Canonical URL {{section}}-->
  <link rel="canonical" href="{{header.canonical_url}}" />
  <!-- Replace with your domain -->

  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <script defer>
  document.addEventListener('htmx:afterSwap', function(event) {
      // Your code here runs after every HTMX swap
      window.scrollTo(0, 0); // Scroll to top example
  });
  </script>

  <meta name="google-adsense-account" content="ca-pub-3730960250065604">

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3730960250065604"
       crossorigin="anonymous"></script>

  <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "riyifpgz7p");
  </script>

  {{!  Example of where you might include Schema Markup dynamically (JSON-LD) }}
  <script type="application/ld+json">
  {{# if (eq section 'Home') }}
    {{> section_schema}}
  {{else if (eq section 'BlogHome') }}
      {{> blog_home_ld}}
  {{else if (eq section 'BlogArticle') }}
      {{> blog_article_ld}}
  {{else if (eq section 'Contact') }}
      {{> contact_home_html_ld}}
  {{else if (eq section 'Topics') }}
      {{> topics_index_html_ld}}
  {{else if (eq section 'About') }}
      {{> about_index_ld}}
  {{/ if }}
  </script>
</head>
